{% extends "base.html" %}
{% block content %}
    Well, just a registration page... In future
	<div><form action="registr_ation" method="POST" class="centerform">
           login:<input type="text" name="login" id="login"><br>
           password:<input type="password" name="password" id="password">
	   password_repeat:<input type="password" name="password_repeat" id="password_repeat">
	   <input type="submit" title="registration" class="submt">
           </form></div>
    <A HREF="/about">about NetChat</A></br>
    
{% endblock %}